<h1>Update Pet</h1>

<form action='/pets' method='post'>
<input type="hidden" id="hidden" name="_methop" value="patch">

<label for='pet_name'>Edit the Pet's Name:</label><br>
<input type='text' name ='pet[name]' id='pet_name' value='<%= @pet.name %>'>

<p>Select an existing owner or create one below.</p>

<h3>Existing Owners:</h3>
  <% @owners.each do |owner| %>
    <input type="radio" name="pet[owner_id]" id="<%=owner.id%>" value="<%=owner.id%>" <%='checked' if @pet.owner == owner%>><%= owner.name %><br>
  <% end %>

<h3>Create New Owner:</h3>
<label for='owner_name'>Name:</label>
<input type='text' name='owner[name]' id='owner_name'>

<input type='submit' id='Update Pet'>

</form>
